@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,400&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  background-color: #f6f6fe;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}
ul {
  list-style: none;
}

.nav-wrapper .navbar-items {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.nav-wrapper .navbar-items .nav-link {
  font-size: 25px;
  font-weight: 600;
  color: #5d5fef;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
}
.btn-download {
  background-color: #5d5fef;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.hero {
  background-color: #5d5fef;
  width: 90%;
  display: flex;
  margin: 0% auto;
  height: 80vh;
  border-radius: 30px;
  padding-left: 2em;
  margin-top: 2em;
  padding-right: 2em;
}
.hero-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hero h1 {
  font-size: 4rem;
  color: #ffffff;
}
.hero-items .left-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hero-items .apple {
  margin-right: 1rem;
}

.section-header {
  padding: 2rem;
  text-align: center;
}
.section-header h3 {
  font-weight: 300;
  color: #7879f1;
}
.section-header h2 {
  font-weight: bold;
  font-size: 3rem;
}
.section-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card {
  text-align: center;
}
.card-cover img {
  width: 100%;
  object-fit: contain;
  height: 200px;
}
.card-title {
  font-weight: bold;
  font-size: 1rem;
}
.card-title .title-span {
  color: #a5a6f6;
}
.card p {
  font-size: 1rem;
}

.item {
  text-align: center;
  font-size: 2rem;
  background-color: #d8d8ff;
  padding: 10px;
}

.footer {
  background-color: #5d5fef;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    border-radius: 30px;
    margin: 2rem;
    color: #fff;
}
.footer h1{
    font-size: 3rem;
}
.footer .left-buttons{
    flex-direction: column;
}
